#gameBoard{
    margin: 10px 50px 7px 3%;
    width: 85%;
    text-align: center;
    padding: 50px;
}

.cell{
    display: inline-block;
    vertical-align: top;
    height: 35px;
    margin: 1px;
    border-radius: 3px;
    width: 35px;
    background-color: black;
}

.uncovered{
    background-color: gray;
}


.test{
    background-color: red;
}

.mine {
    height: 30px;
    width: 30px;
    margin-top: 2px;
}


#refresh{
    margin-bottom: 0%;
    width: 40px;
    margin-left: 47%;
    height: 40px;
}

.dropdown {
    font-size: 23px;
    margin-top: 2%;
    text-decoration: none;
    color: green;
    display: inline-block;
}

#options ul {
    list-style-type: none;
    margin-right: 3%;
}

li {
    margin-bottom: 1%;
}

li a{
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.dropdownDisplayed {
    margin-bottom: 0%;
}

.selectedDifficulty {
    color: green !important;
}

.flagging {
    height: 5px;
    width: 5px;
    margin-top: 15px;
}

.flagged {
    height: 25px;
    width: 22px;
    margin-left: 5px;
    margin-top: 6px;
}

.one{
    color: rgb(0, 97, 0)
}

.two {
    color: rgb(0, 0, 193)
}

.three {
    color: rgb(103, 0, 0)
}

.four {
    color: darkblue;
}

.five {
    color: darkred;
}

.six {
    color: darkslategray;
}

.seven {
    color: black
}

.eight {
    color: rgb(116, 31, 0);
}