#gameBoard{
    margin: 10px 50px 7px 3%;
    width: 85%;
    text-align: center;
    padding: 50px;
}

.cell{
    display: inline-block;
    vertical-align: top;
    height: 35px;
    margin: 1px;
    border-radius: 3px;
    width: 35px;
    background-color: rgba(0,0,0,1);
}

.cellHover {
    background-color: rgb(18, 18, 18);
}

.exploded {
    background-color: gray;
}

@keyframes uncover {
    from {background-color: black}
    to {background-color: #353535}
}

.uncovered{
    animation-name: uncover;
    animation-duration: 0.5s;
    background-color: #353535;
}

.test{
    background-color: red;
}

.mine {
    height: 30px;
    width: 30px;
    margin-top: 2px;
}


.refresh{
    margin-bottom: 0%;
    width: 40px;
    margin-left: 45.6%;
    height: 40px;
    cursor: pointer;
}

#info {
    margin-left: 1% !important;
}

.infoButton {
    margin-top: 26% !important;
}

.dropdown {
    font-size: 23px;
    margin-top: 2%;
    text-decoration: none;
    color: #f0a554;
    display: inline-block;
    cursor: pointer;
}

.options ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.options {
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 21%;
    padding: 60px;
    border-radius: 8px;
    left: 42%;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.9);
}

.topScoreItem {
    margin-bottom: 0% !important;
    text-align: center;
    cursor: default;
    color: #a7a7a7;
}

#topScores {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    border-radius: 5px;
    border: 1px solid #777777;
    cursor: default;
    background: #0a4848;
}

li {
    margin-bottom: 34%;
    text-align: center;
    font-size: 22px;
}

li a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    cursor: pointer;
}

.cancel{
    margin-top: 40%;
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}

.info {
    width: 500px !important;
    left: 32% !important;
    top: 28% !important;
}

.info p {
    line-height: 35px;
    color : #b5b5b5;
}

.info h2 {
    color: #b5b5b5;
}

.hide {
    display: none;
}

.hiddenAnimation {
    animation: hideOptions 0.5s 1 ease-in forwards;
}


@keyframes hideOptions {
    0% {
        top : 21%;
        opacity: 1;
    }   
    99% {
        top: -59%;
        opacity: 1;
    }
    100% {
        top: -60%;
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes hideOptions {
    0% {
      top: 21%;
      opacity: 1;
    }
    99% {
      top: 99%;
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0;
      display: none;
    }
}


.showAnimation {
    animation: showOptions 1s 1 ease-in  forwards ;
}

@keyframes showOptions {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0.99;
    }
    100% {
        opacity: 1;
    }
}


.dropdownDisplayed {
    margin-bottom: 0%;
}

.selectedDifficulty {
    color: #619600 !important;
}

.flagging {
    height: 5px;
    width: 5px;
    margin-top: 15px;
}

.flagged {
    height: 25px;
    width: 22px;
    margin-left: 5px;
    margin-top: 6px;
}

.cell p {
    font-size: 29px;
    margin-top: 0px;
    font-family: "Quicksand","Lucida Grande","Helvetica","Arial","Verdana","sans-serif";
}

.one{
    color: rgb(34, 109, 34);
}

.two {
    color: #00AAC4;
}

.three {
    color: #DD6B55;
}

.four {
    color: #C2A5CF;
}

.five {
    color: #BF812D;
}

.six {
    color: #66FFFF;
}

.seven {
    color: #FFFF99
}

.eight {
    color: #FF9900;
}

#winner {
    width: 200px;
    margin-right: auto;
    right: 0;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 26%;
    padding: 76px;
    margin-left: auto;
    border-radius: 8px;
    left: 0;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.95);
}

#winner h2 {
    color: #f0a554;
}

#winner h4 {
    color: #f0a554;
}

#winner button {
    cursor: pointer;
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    outline: none;
}

.ticker {
    display: inline-block;
    vertical-align: top;
}

#timer h2 {
    color: #619600;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(#000567, #000cea);
    box-shadow: 6px 7px 15px black;
    border: 1px solid black;
}

#timer h6 {
    color: #f0a554;
}

#numMines h6 {
    color: #f0a554;
}

#numMines{
    font-family: monospace;
    font-size: 19px;
}

#numMines h2 {
    color: #619600;
    box-shadow: 6px 7px 15px black;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(#000567, #000cea);
    border: 1px solid black;
}

#timer{
    margin-left: 20%;
    font-family: monospace;
    font-size: 19px;
}
