#gameBoard{
    margin: 10px 50px 7px 3%;
    width: 85%;
    text-align: center;
    padding: 50px;
}

.cell{
    display: inline-block;
    vertical-align: top;
    height: 35px;
    margin: 1px;
    border-radius: 3px;
    width: 35px;
    background-color: rgba(0,0,0,1);
}

.cellHover {
    background-color: rgb(70, 70, 70);
}

.exploded {
    background-color: gray;
}

@keyframes uncover {
    from {background-color: black}
    to {background-color: grey}
}

.uncovered{
    animation-name: uncover;
    animation-duration: 1s;
    background-color: gray;
}

.test{
    background-color: red;
}

.mine {
    height: 30px;
    width: 30px;
    margin-top: 2px;
}


#refresh{
    margin-bottom: 0%;
    width: 40px;
    margin-left: 47%;
    height: 40px;
    cursor: pointer;
}

.dropdown {
    font-size: 23px;
    margin-top: 2%;
    text-decoration: none;
    color: #f0a554;
    display: inline-block;
    cursor: pointer;
}

#options ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#options {
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 21%;
    padding: 60px;
    border-radius: 8px;
    left: 42%;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.9);
}



li {
    margin-bottom: 34%;
    text-align: center;
    font-size: 22px;
}

li a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    cursor: pointer;
}

#cancel{
    margin-top: 40%;
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}

.hidden {
    display: none;
}

.dropdownDisplayed {
    margin-bottom: 0%;
}

.selectedDifficulty {
    color: #619600 !important;
}

.flagging {
    height: 5px;
    width: 5px;
    margin-top: 15px;
}

.flagged {
    height: 25px;
    width: 22px;
    margin-left: 5px;
    margin-top: 6px;
}

.cell p {
    font-size: 22px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.one{
    color: rgb(0, 97, 0)
}

.two {
    color: rgb(0, 0, 193)
}

.three {
    color: rgb(103, 0, 0)
}

.four {
    color: darkblue;
}

.five {
    color: darkred;
}

.six {
    color: darkslategray;
}

.seven {
    color: black
}

.eight {
    color: rgb(116, 31, 0);
}

#winner {
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 26%;
    cursor: pointer;
    padding: 76px;
    border-radius: 8px;
    left: 37%;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.95);
}

#winner h2 {
    color: #f0a554;
}

#winner h4 {
    color: #f0a554;
}

#winner button {
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    outline: none;
}

.ticker {
    display: inline-block;
    vertical-align: top;
}

#timer h2 {
    color: #619600;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(#000567, #000cea);
    box-shadow: 6px 7px 15px black;
    border: 1px solid black;
}

#timer h6 {
    color: #f0a554;
}

#numMines h6 {
    color: #f0a554;
}

#numMines{
    font-family: monospace;
    font-size: 19px;
}

#numMines h2 {
    color: #619600;
    box-shadow: 6px 7px 15px black;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(#000567, #000cea);
    border: 1px solid black;
}

#timer{
    margin-left: 20%;
    font-family: monospace;
    font-size: 19px;
}
