<h2>Hello world! This is a test</h2>

<div id = 'gameBoard'>
  
  <div class = 'ticker' id = 'numMines'>
    <h2>{{minesweeper.numMines}}</h2>
    <h6>Mines Remaining</h6>
  </div>

  <div class = 'ticker' id = 'timer'>
    <h2>{{minesweeper.displayedTime}}</h2>
    <h6>Current Game Time</h6>
  </div>

  <div *ngFor = 'let row of minesweeper.gameArray; index as i' class = 'row'>
    
    <div *ngFor = 'let column of minesweeper.gameArray; index as j' 
    class = 'cell'
    (click) = 'uncover(i,j)'
    (mouseenter) = 'mouseEnter(i, j)'
    (mouseleave) = 'mouseLeave()'
    [ngClass]= "{'uncovered' : minesweeper.gameArray[i][j].clicked && !minesweeper.gameArray[i][j].mine, 'cellHover' : hoveredCell[0] == i && hoveredCell[1] == j && !minesweeper.gameArray[i][j].clicked}">
    
    <p *ngIf = 'minesweeper.gameArray[i][j].clicked && 
    !minesweeper.gameArray[i][j].mine && 
    minesweeper.gameArray[i][j].adjacentMines > 0'
    [ngClass] = "colorCode[minesweeper.gameArray[i][j].adjacentMines]"
    >{{minesweeper.gameArray[i][j].adjacentMines}}</p>
    
    <img *ngIf = 'minesweeper.gameArray[i][j].clicked && 
    minesweeper.gameArray[i][j].mine'
    src = '../../assets/download.png' class = 'mine'>

    <img *ngIf = 'flaggingEnabled && 
    !minesweeper.gameArray[i][j].clicked &&
    !minesweeper.gameArray[i][j].flagged'
    src = '../../assets/flagging.png'
    class = 'flagging'>

    <img *ngIf = '!minesweeper.gameArray[i][j].clicked &&
    minesweeper.gameArray[i][j].flagged' 
    src = '../../assets/flag2.png'
    class = 'flagged'>
    
  </div>
</div>

  <a class = 'dropdown' (click) = 'toggleDropdown()' [ngClass] = "{'dropdownDisplayed' : !dropdownHidden}"><div class = 'dropdown'>Game Options</div></a>
  <div class = 'options' [ngClass] = "{'hiddenAnimation' : dropdownHidden, 'hide' : initialDropdownLoad, 'showAnimation' : !dropdownHidden}">
    <ul>
      <li><a (click) = 'changeDiff("expert")' [ngClass] = "{'selectedDifficulty' : difficulty == 'expert'}" >Expert</a></li>
      <li><a (click) = 'changeDiff("hard")' [ngClass] = "{'selectedDifficulty' : difficulty == 'hard'}" >Hard</a></li>
      <li><a (click) = 'changeDiff("normal")' [ngClass] = "{'selectedDifficulty' : difficulty == 'normal'}" >Normal</a></li>
      <li><a (click) = 'changeDiff("easy")' [ngClass] = "{'selectedDifficulty' : difficulty == 'easy'}" >Easy</a></li>
      <li><a (click) = 'changeDiff("beginner")' [ngClass] = "{'selectedDifficulty' : difficulty == 'beginner'}" >Beginner</a></li>
    </ul>
    <button (click) = 'toggleDropdown()' class = 'cancel'>Cancel</button>
  </div>

</div>

<div id = 'winner' *ngIf = 'minesweeper.winner'>
  <h2>Awww yeah!! :)</h2>
  <h4>Nice work! Your time was: {{minesweeper.gamePlayTime}} seconds</h4>
  <h4>Top scores for {{difficulty}}</h4>
  <ul *ngIf = 'topScores' id = 'topScores'>
    <li *ngFor = 'let score of topScores' class = 'topScoreItem'>{{score.time}} s</li>
  </ul>
  <button (click) = 'reset()' >Play again</button>
</div>

<div [ngClass] = "{'hiddenAnimation' : !infoPopUp, 'hide' : initialPopUpLoad, 'showAnimation' : infoPopUp}" class = 'options info'>
  <h2>Welcome to minesweeper!</h2>
  <p>Find all of the buried mines to win the game, but be careful to not step on them!
    Instead, flag them by pressing the 'F' key and clicking where you think they are.
    Numbered cells tell you how many mines are adjacent (including diagonals).
    Hit the green refresh button to start a new game, and select 'Options' if you'd like to change the difficulty.
    Good luck!
  </p>
  <button (click) = 'displayInfo()' class = 'cancel infoButton'>Ok, I got it</button>
</div>

<a (click) = 'reset()'><img class = 'refresh' src = '../../assets//refresh.png'></a>
<a (click) = 'displayInfo()'><img id = 'info' class = 'refresh' src = '../../assets/information-icon-3.png'></a>