<h2>Login or Register to Save Your Scores!</h2>
<div id = 'container'>

  <div class = 'login'>
    <h4>Login</h4>
    <form (submit) = 'submitLogin()'>
      <div>
        <mat-form-field class = 'fullWidth'>
            <input [(ngModel)] = 'returningUser.email' matInput placeholder="Email" name = 'email'>
          </mat-form-field>
      </div>
      <div>
        <mat-form-field class = 'fullWidth'>
          <input [(ngModel)] = 'returningUser.password' matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name = 'password'>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </div>
  
  <div class = 'login'>
    <h4>Register</h4>
    <form (submit) = 'submitRegister()'>
        
      <div>
        <mat-form-field class = 'fullWidth'>
            <input [(ngModel)] = 'newUser.userName' name = 'userName' matInput placeholder="Username" [formControl] = 'userName' required>
            <mat-error *ngIf = 'userName.invalid'>{{getUserNameErrorMessage()}} </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class = 'fullWidth'>
            <input (keyup) = 'keyup()' [(ngModel)] = 'newUser.email' name = 'email' matInput placeholder="Email Address" [formControl] = 'email' required>
            <mat-error *ngIf = 'email.invalid'>{{getEmailErrorMessage()}} </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class = 'fullWidth'>
            <input [(ngModel)] = 'newUser.password' name = 'PW' matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl] = 'password' required minlength = '8'>
            <mat-error *ngIf = 'password.invalid'>{{getPasswordErrorMessage()}} </mat-error>
        </mat-form-field>
      </div>
      <button (mouseenter) = 'mouseEnter()' (mouseleave) = 'mouseleave()' type = 'submit' mat-raised-button color="primary"
      [disabled] = 'email.invalid || password.invalid || userName.invalid || emailExists' >
      Register</button>
      </form>
  </div>
</div>
