.login {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

h2 {
    color: rgb(100,100,100);
    margin-left: 1%;
}

h4 {
    color: rgb(25,25,25);
}

.error{
    color: red;
}

.fullWidth{
    width: 80%;
}

#container {
    padding: 72px 72px 100px 72px;
    text-align: center;
    background-color: rgb(177, 177, 177);
    border-top: 1px solid rgb(100,100,100);
    border-bottom: 1px solid rgb(100,100,100);
    margin-bottom: 16.5%;

}