<h1 class = 'multiplayer'>Multiplayer</h1>

<div id = 'playerBoard'>
    <div class = 'ticker' id = 'numMines'>
      <h2>{{minesweeper.numMines}}</h2>
      <h6>Mines Remaining</h6>
    </div>
    
    <div class = 'ticker name'>
      <h2 class = 'playerName'>You</h2>
    </div>

    <div class = 'ticker' id = 'timer'>
      <h2>{{minesweeper.displayedTime}}</h2>
      <h6>Current Game Time</h6>
    </div>
  
    <div *ngFor = 'let row of minesweeper.gameArray; index as i' class = 'row'>
      
      <div *ngFor = 'let column of minesweeper.gameArray; index as j' 
      class = 'cell'
      (click) = 'uncover(i,j)'
      (mouseenter) = 'hoverOnCell(i, j)'
      (mouseleave) = 'mouseLeaveCell()'
      [ngClass]= "{'uncovered' : minesweeper.gameArray[i][j].clicked && !minesweeper.gameArray[i][j].mine, 'cellHover' : hoveredCell[0] == i && hoveredCell[1] == j}">
      
      <p *ngIf = 'minesweeper.gameArray[i][j].clicked && 
      !minesweeper.gameArray[i][j].mine && 
      minesweeper.gameArray[i][j].adjacentMines > 0'
      [ngClass] = "colorCode[minesweeper.gameArray[i][j].adjacentMines]"
      >{{minesweeper.gameArray[i][j].adjacentMines}}</p>
      
      <img *ngIf = 'minesweeper.gameArray[i][j].clicked && 
      minesweeper.gameArray[i][j].mine'
      src = '../../assets/download.png' class = 'mine'>
  
      <img *ngIf = 'flaggingEnabled && 
      !minesweeper.gameArray[i][j].clicked &&
      !minesweeper.gameArray[i][j].flagged'
      src = '../../assets/flagging.png'
      class = 'flagging'>
  
      <img *ngIf = '!minesweeper.gameArray[i][j].clicked &&
      minesweeper.gameArray[i][j].flagged' 
      src = '../../assets/flag2.png'
      class = 'flagged'>
      
    </div>
  </div>

  </div>

  
  <div *ngIf = 'linkToShare' class = 'dropdown'>
    <a (click) = 'displayShareWindow()' class = 'shareLink'><img src = '../../assets/link2.png'></a>
  </div>

  <div *ngIf = 'shareWindowDisplay' class = 'linkToShare'>
    <h3>Share this link with a friend to start the game</h3>
    <h6>{{linkToShare}}</h6>
    <button (click) = 'closeShareWindow()'>Close</button>
    <button (click) = 'copyToClipboard(linkToShare)'>Copy to Clipboard</button>
  </div>

  
    <div id = 'options' [ngClass] = "{'hidden' : dropdownHidden }">
      <ul>
        <li><a (click) = 'changeDiff("expert")' [ngClass] = "{'selectedDifficulty' : difficulty == 'expert'}" >Expert</a></li>
        <li><a (click) = 'changeDiff("hard")' [ngClass] = "{'selectedDifficulty' : difficulty == 'hard'}" >Hard</a></li>
        <li><a (click) = 'changeDiff("normal")' [ngClass] = "{'selectedDifficulty' : difficulty == 'normal'}" >Normal</a></li>
        <li><a (click) = 'changeDiff("easy")' [ngClass] = "{'selectedDifficulty' : difficulty == 'easy'}" >Easy</a></li>
        <li><a (click) = 'changeDiff("beginner")' [ngClass] = "{'selectedDifficulty' : difficulty == 'beginner'}" >Beginner</a></li>
      </ul>
      <button (click) = 'toggleDropdown()' id = 'cancel'>Cancel</button>
    </div>

  <div id = 'opponentBoard' *ngIf = 'opponentBoard'>
      <div class = 'ticker' id = 'numMines'>
        <h2 class = 'opponentLabel' >{{opponentBoard.numMines}}</h2>
        <h6 class = 'opponentName'>Mines Remaining</h6>
      </div>
    
      <div class = 'ticker name'>
          <h2 class = 'opponentName'>Opponent</h2>
        </div>

      <div class = 'ticker' id = 'timer'>
        <h2 class = 'opponentLabel'>{{opponentTime}}</h2>
        <h6 class = 'opponentName'>Current Game Time</h6>
      </div>
    
      <div *ngFor = 'let row of opponentBoard.gameArray; index as i' class = 'row'>
        
        <div *ngFor = 'let column of opponentBoard.gameArray; index as j' 
        class = 'cell'
        [ngClass]= "{'uncovered' : opponentBoard.gameArray[i][j].clicked && !opponentBoard.gameArray[i][j].mine}">
        
        <p *ngIf = 'opponentBoard.gameArray[i][j].clicked && 
        !opponentBoard.gameArray[i][j].mine && 
        opponentBoard.gameArray[i][j].adjacentMines > 0'
        >{{opponentBoard.gameArray[i][j].adjacentMines}}</p>
        
        <img *ngIf = 'opponentBoard.gameArray[i][j].clicked && 
        opponentBoard.gameArray[i][j].mine'
        src = '../../assets/download.png' class = 'mine'>
    
        <img *ngIf = 'flaggingEnabled && 
        !opponentBoard.gameArray[i][j].clicked &&
        !opponentBoard.gameArray[i][j].flagged'
        src = '../../assets/flagging.png'
        class = 'flagging'>
    
        <img *ngIf = '!opponentBoard.gameArray[i][j].clicked &&
        opponentBoard.gameArray[i][j].flagged' 
        src = '../../assets/flag2.png'
        class = 'flagged'>
        
      </div>
    </div>
    
    </div>

    

  <div id = 'winner' *ngIf = 'minesweeper.winner'>
      <h2>Awww yeah!! :)</h2>
      <h4>Nice work! Your time was: {{minesweeper.gamePlayTime}} seconds</h4>
      <button (click) = 'reset()' >Play again</button>
  </div>

  <h2 *ngIf = '!otherUser' id = 'waitingForUser'>Waiting for another player</h2>


  <div *ngIf = '!userChose' class = 'choice'>
    <div class = 'choiceButton'>
      <button (mouseenter) = 'mouseEnter("private")'
      (mouseleave) = 'mouseLeave()'
      (click) = 'choosePrivateGame()'>Private Game</button>
      <h5 *ngIf = 'hoveredButton == "private"'>Invite a friend to play</h5>
  </div>

    <div class = 'choiceButton'>
      <button (mouseenter) = 'mouseEnter("public")'
      (mouseleave) = 'mouseLeave()'
      (click) = 'choosePublicGame()'>Public Game</button>
      <h5 id = 'publicH5' *ngIf = 'hoveredButton == "public"'>You are randomly assigned an opponent</h5>
    </div>

  </div>
