.footer p {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    color: #f0a554;
}

.footer {
    padding-left: 42%;
    background-color: darkslategray;
    margin-top: 7.2%;
}

#github {
    margin-left: 10px;
    height: 30px;
    vertical-align: top;
    width: 31px;
    margin-top: 7px;
    display: inline-block;
}

#mail {
    margin-left: 10px;
    height: 26px;
    vertical-align: top;
    width: 40px;
    margin-top: 10px;
    display: inline-block;
}