#playerBoard, #opponentBoard {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}

#container {
    text-align: center;
}

#playerBoard{
   margin-right: 0%;
}

.cell{
    display: inline-block;
    vertical-align: top;
    height: 35px;
    margin: 1px;
    border-radius: 3px;
    width: 35px;
    background-color: rgba(0,0,0,1);
}

.uncovered{
    background-color: #353535;
}

.test{
    background-color: red;
}

.mine {
    height: 30px;
    width: 30px;
    margin-top: 2px;
}


#refresh{
    margin-bottom: 0%;
    width: 40px;
    margin-left: 31.8%;
    height: 40px;
}

.dropdown {
    font-size: 23px;
    text-decoration: none;
    color: #f0a554;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 15%;
    display: inline-block;
}

.dropdown a {
    display: block;
    cursor: pointer;
}

.shareLink img {
    height: 40px; 
    width: 40px;
}

.shareLink {
    margin-top: 38%;
}

#options ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#options {
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 21%;
    padding: 60px;
    border-radius: 8px;
    left: 42%;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.9);
}



li {
    margin-bottom: 34%;
    text-align: center;
    font-size: 22px;
}

li a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    cursor: pointer;
}

#cancel{
    margin-top: 40%;
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: none;
}

.hidden {
    display: none;
}

.dropdownDisplayed {
    margin-bottom: 0%;
}

.selectedDifficulty {
    color: #619600 !important;
}

.flagging {
    height: 5px;
    width: 5px;
    margin-top: 15px;
}

.flagged {
    height: 25px;
    width: 22px;
    margin-left: 5px;
    margin-top: 6px;
}

.cell p {
    font-size: 29px;
    margin-top: 0px;
    font-family: "Quicksand","Lucida Grande","Helvetica","Arial","Verdana","sans-serif";
}

.one{
    color: rgb(34, 109, 34);
}

.two {
    color: #00AAC4;
}

.three {
    color: #DD6B55;
}

.four {
    color: #C2A5CF;
}

.five {
    color: #BF812D;
}

.six {
    color: #66FFFF;
}

.seven {
    color: #FFFF99
}

.eight {
    color: #FF9900;
}

#winner {
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 26%;
    padding: 76px;
    cursor: pointer;
    border-radius: 8px;
    left: 37%;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.95);
}

#winner h2 {
    color: #f0a554;
}

#winner h4 {
    color: #f0a554;
}

#winner button {
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    outline: none;
}

.ticker {
    display: inline-block;
    vertical-align: top;
}

.name {
    margin-left: 15%;
    margin-right: 15%;
}

#timer h2 {
    color: #619600;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(#000567, #000cea);
    box-shadow: 6px 7px 15px black;
    border: 1px solid black;
}

#timer h6 {
    color: #f0a554;
}

#numMines h6 {
    color: #f0a554;
}

#numMines{
    font-family: monospace;
    font-size: 19px;
}

#numMines h2 {
    color: #619600;
    box-shadow: 6px 7px 15px black;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(#000567, #000cea);
    border: 1px solid black;
}

#timer{
    margin-left: 13%;
    font-family: monospace;
    font-size: 19px;
}

.multiplayer {
    margin-left: 45%;
    margin-bottom: 0px;
    color: #619600;
    margin-top: 1%;
}

.playerName{
    color : #f0a554;
}

.opponentName {
    color: gray !important;
}

.opponentLabel {
    color: black !important;
    background-image: linear-gradient(gray, gray) !important;

}


.choice {
    left: 0;
    right: 0;
    top: 34%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    padding: 89px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.9);
}


.topScoreItem {
    margin-bottom: 0% !important;
    text-align: center;
    cursor: default;
    color: #a7a7a7;
}

#topScores {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    border-radius: 5px;
    border: 1px solid #777777;
    cursor: default;
    background: #0a4848;
}

.linkToShare {
    left: 0;
    right: 0;
    top: 34%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    padding: 59px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgba(107, 135, 135, 0.9);
}

.options ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.options {
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 177px 61px black;
    top: 17%;
    padding: 60px;
    border-radius: 8px;
    left: 0;
    width: 150px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.9);
}

.cancel{
    margin-top: 35%;
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}

.emailContainer {
    margin-top: 3%;
    text-align: center;
}

.fullWidth {
    width: 80%;
}

.linkToShare button {
    margin-left: 5%;
    font-size: 19px;
    margin-right: 7%;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}

.linkToShare h6 {
    font-size: 18px;
    color: white;
}

.choiceButton{
    margin-right: 31px;
    margin-left: 42px;
    display: inline-block;
    vertical-align: top;
}

.choiceButton button{
    font-size: 19px;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: none;
}

.choiceButton{
    color: #619600;
    font-size: 18px;
}

.choiceButton h5 {
    position: absolute;
}

#publicH5 {
    left : 48%;
}

@media only screen and (min-width : 1600px){
    .multiplayer {
        margin-left: 46% !important;
    }

    #options {
        left: 44% !important;
    }
}

#waitingForUser {
    color: white;
    font-size: 30px;
}


#waitingForUser:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1500ms infinite;
    animation: ellipsis steps(4,end) 1500ms infinite;
    content: "\2026";
    width: 0px;
}

.hide {
    display: none;
}


.hiddenAnimation {
    animation: hideOptions 0.5s 1 ease-in forwards;
}


@keyframes hideOptions {
    0% {
        top : 21%;
        opacity: 1;
    }   
    99% {
        top: -59%;
        opacity: 1;
    }
    100% {
        top: -60%;
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes hideOptions {
    0% {
      top: 21%;
      opacity: 1;
    }
    99% {
      top: 99%;
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0;
      display: none;
    }
}


.cellHover {
    background-color: rgb(18, 18, 18);
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

.countdown{
    box-sizing: border-box;
    height: 200px;
    border-radius: 50%;
    padding-top: 2.5%;
    position: absolute;
    font-size: 95px;
    left: 0;
    background-color: red;
    right: 0;
    top: 37%;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation: countdownAnimation 4s linear forwards;
}

@keyframes countdownAnimation {
    12.5% {
        opacity: 0
    }

    25% {
        opacity: 1;
        background-color: orange;
    }
    
    37.5% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
        background-color: yellow;
    }
    
    62.5% {
        opacity: 0;
    }
    
    75% {
        opacity: 1;
        background-color: green;
    }
    
    87.5% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}
