<app-minesweeper-header></app-minesweeper-header>
<div id = 'container'>
  <div id = 'playerBoard'>

      <div class = 'ticker' id = 'numMines'>
        <h2>{{minesweeper.numMines}}</h2>
        <h6>Mines Remaining</h6>
      </div>
  
      <div *ngFor = 'let row of minesweeper.gameArray; index as i' class = 'row'>
        
        <div *ngFor = 'let column of minesweeper.gameArray; index as j' 
        class = 'cell'
        (click) = 'uncover(i,j)'
        (mouseenter) = 'hoverOnCell(i, j)'
        (mouseleave) = 'mouseLeaveCell()'
        [ngClass]= "{'uncovered' : minesweeper.gameArray[i][j].clicked && !minesweeper.gameArray[i][j].mine, 'cellHover' : hoveredCell[0] == i && hoveredCell[1] == j && !minesweeper.gameArray[i][j].clicked}">
        
        <p *ngIf = 'minesweeper.gameArray[i][j].clicked && 
        !minesweeper.gameArray[i][j].mine && 
        minesweeper.gameArray[i][j].adjacentMines > 0'
        [ngClass] = "colorCode[minesweeper.gameArray[i][j].adjacentMines]"
        >{{minesweeper.gameArray[i][j].adjacentMines}}</p>
        
        <img *ngIf = 'minesweeper.gameArray[i][j].clicked && 
        minesweeper.gameArray[i][j].mine'
        src = '../assets/download.png' class = 'mine'>
    
        <img *ngIf = 'flaggingEnabled && 
        !minesweeper.gameArray[i][j].clicked &&
        !minesweeper.gameArray[i][j].flagged'
        src = '../assets/flagging.png'
        class = 'flagging'>
    
        <img *ngIf = '!minesweeper.gameArray[i][j].clicked &&
        minesweeper.gameArray[i][j].flagged' 
        src = '../assets/flag2.png'
        class = 'flagged'>
        
      </div>
    </div>
  
    </div>
  
    
    <div class = 'dropdown'>
      <a (click) = 'displayShareWindow()' class = 'shareLink'><img src = '../assets/link2.png'></a>
    </div>
  
    <div class = 'linkToShare' [ngClass] = "{'hide' : initialLoad || !shareWindowDisplay}">
      <h3>Share this link with a friend to start the game</h3>
      <h6>{{linkToShare}}</h6>
      <button (click) = 'closeShareWindow()'>Close</button>
      <button (click) = 'copyToClipboard(linkToShare)'>Copy to Clipboard</button>
      <button (click) = 'sendEmailTo()'>Share Via Email</button>
      <br>
      <div class = 'emailContainer'>
        <mat-form-field  class = 'fullWidth' >
            <input [(ngModel)] = 'friendEmail' matInput  placeholder="Email Address" name = 'Email_Address'>
          </mat-form-field>
      </div>
    </div>
  
    
  
    <div id = 'opponentBoard' *ngIf = 'opponentBoard'>
      
      <div class = 'ticker' id = 'numMines'>
        <h2 class = 'opponentLabel' >{{opponentBoard.numMines}}</h2>
        <h6 class = 'opponentName'>Mines Remaining</h6>
      </div>
  
        <div *ngIf = 'otherUser'>
          <div *ngFor = 'let row of opponentBoard.gameArray; index as i' class = 'row'>
            
            <div *ngFor = 'let column of opponentBoard.gameArray; index as j' 
              class = 'cell'
              [ngClass]= "{'uncovered' : opponentBoard.gameArray[i][j].clicked && !opponentBoard.gameArray[i][j].mine}">
              
              <p *ngIf = 'opponentBoard.gameArray[i][j].clicked && 
              !opponentBoard.gameArray[i][j].mine && 
              opponentBoard.gameArray[i][j].adjacentMines > 0'
              >{{opponentBoard.gameArray[i][j].adjacentMines}}</p>
              
              <img *ngIf = 'opponentBoard.gameArray[i][j].clicked && 
              opponentBoard.gameArray[i][j].mine'
              src = '../assets/download.png' class = 'mine'>
          
              <img *ngIf = '!opponentBoard.gameArray[i][j].clicked &&
              opponentBoard.gameArray[i][j].flagged' 
              src = '../assets/flag2.png'
              class = 'flagged'>
            
            </div>
          </div>
        </div>

        <h2 *ngIf = '!otherUser && userChose' id = 'waitingForUser'>Waiting for another player</h2>
      
      </div>
</div>
    
  <div id = 'winner' *ngIf = 'minesweeper.winner'>
      <h2>Awww yeah!! :)</h2>
      <h4>Nice work! Your time was: {{minesweeper.gamePlayTime}} seconds</h4>
      <!-- <h4>Top scores for {{difficulty}}</h4>
      <ul id = 'topScores'>
        <li *ngFor = 'let score of topScores' class = 'topScoreItem'>{{score.time}} s</li>
      </ul> -->
      <button (click) = 'reset()' >Play again</button>
  </div>



  <div *ngIf = '!userChose' class = 'choice'>
    <div class = 'choiceButton'>
      <button (mouseenter) = 'mouseEnter("private")'
      (mouseleave) = 'mouseLeave()'
      (click) = 'choosePrivateGame()'>Private Game</button>
      <h5 *ngIf = 'hoveredButton == "private"'>Invite a friend to play</h5>
  </div>

    <div class = 'choiceButton'>
      <button (mouseenter) = 'mouseEnter("public")'
      (mouseleave) = 'mouseLeave()'
      (click) = 'choosePublicGame()'>Public Game</button>
      <h5 id = 'publicH5' *ngIf = 'hoveredButton == "public"'>You are randomly assigned an opponent</h5>
    </div>
  </div>


  <div class = 'options' *ngIf = '!dropdownHidden'>
    <h3>Choose a difficulty</h3>
      <ul>
        <li><a (click) = 'changeDiff("expert")' [ngClass] = "{'selectedDifficulty' : difficulty == 'expert'}" >Expert</a></li>
        <li><a (click) = 'changeDiff("hard")' [ngClass] = "{'selectedDifficulty' : difficulty == 'hard'}" >Hard</a></li>
        <li><a (click) = 'changeDiff("normal")' [ngClass] = "{'selectedDifficulty' : difficulty == 'normal'}" >Normal</a></li>
        <li><a (click) = 'changeDiff("easy")' [ngClass] = "{'selectedDifficulty' : difficulty == 'easy'}" >Easy</a></li>
        <li><a (click) = 'changeDiff("beginner")' [ngClass] = "{'selectedDifficulty' : difficulty == 'beginner'}" >Beginner</a></li>
      </ul>
      <button (click) = 'confirmDiff()' class = 'cancel'>Ok</button>
  </div>

  <div class = 'options' *ngIf = 'minesweeper.gameOver && !minesweeper.winner'>
    <h3>Game Over :(</h3>
    <h3>Please wait for opponent to finish their game</h3>
  </div>

  
<app-minesweeper-footer></app-minesweeper-footer>
