.backgroundContainer {
    padding: 1% 15% 1% 15%;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 70% !important;
    /* min-height: 1000px !important; */
    box-shadow: 0px -39px 80px 23px black inset;
    opacity: 0.8;
}

.name {
    margin: 2% 0px 0px 2%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

h3 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

.projects {
    margin-top: 8%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

.projectsDetail {
    text-align: center;
}

.projectsContainer{
    text-align: center;
    margin-bottom: 25%;
}

.projectsContainer a img{
    width: 30%;
    margin: 1%;
}

.aboutMe {
    text-align: center;
    color: white;
}

.blackContainer {
    background-color: #030303;
    margin-top: -8%;
}