<div class = 'backgroundContainer'>
    <h3 class = 'name'>Ben Bauer</h3>
    <h3 class = 'projects'>Projects</h3>
    <h3 class = 'projectsDetail'>Here are some projects that I've worked on. Feel free to take a look.</h3>
    <div class = 'projectsContainer'>

        <a [routerLink] = "['minesweeper']"><img src = '../../assets/minesweeper.png'></a>
        
        <a [routerLink] = "['hangman']"><img src = '../../assets/minesweeper.png'></a>
        <a [routerLink] = "['hangman']"><img src = '../../assets/minesweeper.png'></a>
    </div>

</div>
<div class = 'blackContainer'>
    <h3 class = 'projects'>About Me</h3>
    
    <p class = 'aboutMe'>ContentContentContentContentContentContentContentContentContentContentContent</p>
    
    <h3 class = 'projects'>Contact</h3>
    
    <a href = 'mailto:benjaminbauer15@gmail.com'>Email</a>
    <a href = 'https://www.github.com/Ben-Bauer-15'>GitHub</a>
    <a href = 'https://www.linkedin.com/in/benjaminbauer15'>LinkedIn</a>


</div>    

<a href = 'http://18.225.33.119'>Click me!</a>

