<div class = 'navbar'>
  
  <h1 id = 'title'>Minesweeper JS</h1>
  <a (mouseenter) = 'mouseEnter("single")'
   (mouseleave) = 'mouseLeave()' 
   [ngClass] = "{'hover' : selected == 'single'}" 
   [routerLink]= "['']">
   Single Player</a>

  <a (mouseenter) = 'mouseEnter("multi")'
   (mouseleave) = 'mouseLeave()' 
   [ngClass] = "{'hover' : selected == 'multi'}" 
   [routerLink] = "['multi']">
   Multiplayer</a>

  <a (mouseenter) = 'mouseEnter("login")' 
  (mouseleave) = 'mouseLeave()' 
  [ngClass] = "{'hover' : selected == 'login'}" 
  [routerLink] = "['login']">
  Login</a>

</div> 

<router-outlet></router-outlet>


<div class = 'footer'>
  <p>© Benjamin Bauer 2018</p>
  <a href = 'https://github.com/Ben-Bauer-15/minesweeper'><img id = 'github' src = '../assets/githublogo_copy.png'></a>
  <a href = 'mailto:benjaminbauer15@gmail.com'><img id = 'mail' src = '../assets/mail.png'></a>
</div>