.navbar {
    padding-right: 14px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 9px;
    height: 50px;
    border-bottom: 1px solid lightslategray;
    text-align: right;
    background-color: darkslategray;
}

.navbar a{
    text-decoration: none;
    color: #f0a554;
    padding: 17px;
    font-size: 20px;
    cursor: pointer;
}

.hover {
    border-bottom: 3px solid #f0a554;
}

#github {
    margin-left: 10px;
    height: 30px;
    vertical-align: top;
    width: 31px;
    margin-top: 7px;
    display: inline-block;
}

#mail {
    margin-left: 10px;
    height: 26px;
    vertical-align: top;
    width: 40px;
    margin-top: 10px;
    display: inline-block;
}

.footer p {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    color: #f0a554;
}

.footer {
    padding-left: 42%;
    background-color: darkslategray;
    margin-top: 3.7%;
}


#title{
    display: inline-block;
    vertical-align: top;
    margin-top: -6px;
    margin-right: 50%;
    margin-bottom: 0px;
    color: #969696;
}

#title span {
    color: #f0a554;
}

#confirm {
    position: absolute;
    left: 34%;
    top: 24%;
    text-align: center;
    box-shadow: 0px 0px 177px 61px black;
    padding: 82px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgba(47, 79, 79, 0.9);
}

#confirm button {
    margin-left: 5%;
    margin-top: 10%;
    font-size: 19px;
    margin-right: 7%;
    background-image: linear-gradient(blue, #5b5bff);
    box-shadow: 0px 3px 18px 3px black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}

#confirm h2 {
    color: white;
}

@media only screen and (max-width : 949px){
    #title {
        margin-right: 15% !important;
    }
}

@media only screen and (min-width : 950px){
    #title {
        margin-right: 30% !important;
    }
}

@media only screen and (min-width : 1200px){
    #title {
        margin-right: 54% !important;
    }
}

@media only screen and (min-width : 1600px){
    #title {
        margin-right: 61% !important;
    }
}

@media only screen and (max-width : 1600px){
    #confirm {
        left : 28% !important;
    }
    
}
