<div class = 'navbar'>
  
  <h1 id = 'title'> mine<span>sweeper</span> </h1>
  <a (mouseenter) = 'mouseEnter("single")'
   (mouseleave) = 'mouseLeave()' 
   [ngClass] = "{'hover' : selected == 'single'}" 
   (click) = 'confirmSingle()'>
   Single Player</a>

  <a (mouseenter) = 'mouseEnter("multi")'
   (mouseleave) = 'mouseLeave()' 
   [ngClass] = "{'hover' : selected == 'multi'}" 
   (click) = 'confirmMulti()'>
   Multiplayer</a>

  <a (mouseenter) = 'mouseEnter("login")' 
  (mouseleave) = 'mouseLeave()' 
  [ngClass] = "{'hover' : selected == 'login'}" 
  (click) = 'confirmLogin()'
  >
  Login</a>

</div> 

<router-outlet></router-outlet>


<div class = 'footer'>
  <p>© Benjamin Bauer 2018</p>
  <a href = 'https://github.com/Ben-Bauer-15/minesweeper'><img id = 'github' src = '../assets/githublogo_copy.png'></a>
  <a href = 'mailto:benjaminbauer15@gmail.com'><img id = 'mail' src = '../assets/mail.png'></a>
</div>

<div id = 'confirm' [ngClass] = "{'hide' : !gameStarted || !confirmPopUpVisible, 'showAnimation' : confirmPopUpVisible, 'hiddenAnimation' : showDismissAnimation}">
  <h2>Are you sure you want to leave this page?</h2>
  <button (click) = 'navigate(pageToGoTo)'>Yes</button>
  <button (click) = 'dismiss()'>No</button>
</div>